#poke-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

body {
  padding-top: 3rem;
}

.autocomplete {
  position: absolute;
  z-index: 1;
  top: 3rem;
  height: 15rem;
  overflow: scroll;
}

.toast-container {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
}

.poke > #frontS {
  display: none;
}

.pokeball {
  background-image: url("./pokeball.png");
}

.poke:hover > #backS {
  display: none;
}

.poke:hover > #frontS {
  display: unset;
}

.poke.card {
  border-color: rgb(88, 88, 88);
}

.dropdown-menu {
  height: 20rem;
  overflow: scroll;
}

.footer {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
  bottom: 0;
  margin: 0;
  background-color: lightgray;
}

span {
  text-align: center;
}
