body {
  display: flex;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#poke-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.poke {
  display: flex;
  grid-template-columns: 1fr 1fr;
  border-radius: 2rem;
  padding: 2rem;
  background-color: teal;
  align-items: center;
  justify-content: space-between;
}

.poke > #frontS {
  display: none;
}

.poke:hover > #backS {
  display: none;
}

.poke:hover > #frontS {
  display: unset;
  transition: 200;
  transform: scale(1.5);
}
