#poke-cont {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

body {
  padding: 3rem;
}

.toast-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1;
}

.poke > #frontS {
  display: none;
}

.poke:hover > #backS {
  display: none;
}

.poke:hover > #frontS {
  display: unset;
}

.dropdown-menu {
  height: 20rem;
  overflow: scroll;
}
